@import 'reset.css';
@font-face {
  font-family: "titrage";
  src: url("../fonts/Noloice.otf");
}
@font-face {
  font-family: "labeur";
  src: url("../fonts/HappyMonkey-Regular.ttf");
}
//_______color-Variable_______//
// #30069a;
$color1: #56069a;
$color2: #e94613;
$fond: whitesmoke;
$logo: white;
$dark: black;

body {
  padding: 0;
  margin: 0;
  font-family: "labeur";
  overflow-x: hidden;
  background: $fond;
  font-size: 1.55rem;
  line-height: 1.75rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

.intro{
  font-family: "labeur";
  padding: 2vw;
  margin-bottom: 4vh;

  .logo {
    font-family: "titrage";
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: normal;
    color: $dark;
    // text-shadow: 0 1px 0 $dark;
  }

  .sous-titre {
    font-family: "labeur";
    line-height: normal;
    color: $dark;
    text-shadow: 1px 1px 2px $logo;
  }

  .introduction {
    padding-right: 5vw;
    padding-top: 3vh;
    background: linear-gradient($dark, $color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

summary {
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  cursor: ns-resize;
  align-content: center;

  &:after {
    content: '∴⁖∴';
    color: transparent;
  }

  span {
    width: AUTO;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    -ms-box-pack: center;
    -ms-box-align: center;
  }

  .infos {
    font-family: "titrage";
    letter-spacing: 0.1rem;
    font-weight: 900;
    font-size: 2.2rem;
    // -webkit-text-fill-color: $logo;
  }

  &:-webkit-details-marker {
    display: none;
  }
}
details > summary {
  list-style: none; // Remove the default arrow.
  display: flex;
  align-items: center; // Vertically center the arrow.
}
details > summary::-webkit-details-marker {
  display: none;
}
details {
  background: $fond;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "labeur";

  .infosbox {
    padding-bottom: 5vh;
  }

  p {
    padding: 2vh 10vw 0 4vw;

    em {
      font-style: italic;
    }

    u {
      font-family: "titrage";
      font-weight: 900;
      text-decoration: none;
      font-size: 1.6rem;
    }

    a {
      text-decoration: none;
      margin: 0;
      padding: 0;
      font-size: 1.2rem;

      &:hover {
        text-shadow: 1px 1px 4px $logo;
      }

      &:after {
        content: (' ⁖⁖∴');
      }

      &:before {
        content: ('⁖∴⁖En savoir ');
      }
    }
  }

  &[open] > summary {
    &:after {
      content: '✕';
      color: $fond;
    }
  }
}

details:nth-of-type(6) {
  margin-top:0%;
  &[open] > summary {
    z-index: 10;
    background: transparent !important;
    -webkit-text-fill-color: $fond !important;
    text-shadow: 1px 1px 1px $dark;

    &:after {
      content: '';
    }
  }

  summary {
    -webkit-text-fill-color: $color1;
    box-shadow: 0 -15px 40px 0 $color1;
    justify-content: center;

    &:-webkit-details-marker {
      display: none;
    }

    a {
    text-decoration: none;
    width: 100vw;
    left: 0vw;
    position: fixed;
    bottom: 0;
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(#e94613, white,white);
    box-shadow: 0 -15px 40px 0 #56069a;
    }

    &:after {
      content: '';
    }

    &:hover {
      z-index: 10;
      background: transparent!important;
      -webkit-text-fill-color: $fond !important;
      text-shadow: 1px 1px 1px $dark;
    }
  }
}

details:nth-of-type(even) {
  background: linear-gradient($color1, $dark);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &[open] > summary {
    z-index: 10;
    background: $color1;
    -webkit-text-fill-color: $fond !important;
    text-shadow: 1px 1px 1px $dark;
  }

  summary {
    -webkit-text-fill-color: $color1 !important;
    -webkit-text-fill-color: black;
    box-shadow: 0 -15px 40px 0 $color1;

    &:hover {
      z-index: 10;
      background: $color1;
      -webkit-text-fill-color: $fond !important;
      text-shadow: 1px 1px 1px $dark;
    }
  }
}
details:nth-of-type(odd) {
  background: linear-gradient($color2, $dark);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &[open] > summary {
    z-index: 10;
    background: $color2;
    -webkit-text-fill-color: $fond !important;
    text-shadow: 1px 1px 1px $dark;
  }

  summary {
    -webkit-text-fill-color: $color2 !important;
    box-shadow: 0 -5px 40px 0 $color2;

    &:hover {
      z-index: 10;
      background: $color2;
      -webkit-text-fill-color: $fond !important;
      text-shadow: 1px 1px 1px $dark;
    }
  }
}
@media print {
  // a[href]:after {
  //   content: " (" attr(href) ")";
  // }
  @page {
    margin: 0;
    padding: 0;
    size: 285.75mm 285.75mm;
  }
  details{
    page-break-after: always;
    p{
      display: none;
    }
    summary{

      .infos{
        font-size: 4rem !important;
      }

      span{
        font-style:3.5rem !important;
        width:100%;
        text-align: center;

      }
    }
  }

  body,
  main {
    padding: 0mm;
    margin: 0;
    font-size: 2.6rem;
    line-height: 3rem;

summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
  display: block;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
      color: $color1;
    }

  .intro{
  padding: 3%;
    page-break-after: always;
      padding-bottom: 2cm;

      .logo {
        font-size: 5.2rem;
        line-height: normal;
      }

      .sous-titre {
        line-height: 2.5rem;
      }
    }

    section {
      width: 100%;
      page-break-after: always;
    }
  }
}

// Responsive -----------


@media not all and (-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    details > summary {
      display: block;
    }
    body {
      padding-left: 0;
  padding-right: 0;
      overflow: auto;
      font-size: 1.15rem;
  line-height: normal;;
    }
    details{
      p {
        padding: 2vh 5vw 0 4vw;
      }
    }
    summary {
      padding:0px;
    }
  summary{
    padding-bottom:2%;

    span{
      text-align: center;
      width: 100%;
      &:after{
        display: none;
      }
    }
  }

  .intro{
    display: block;
  }
  summary::after {
    display: none;
  }
  details:nth-of-type(6) {
    margin-top:0%;
  }
  .intro .logo-entier .logo{
    font-size: 2.3rem;
  line-height: 2.4rem;
      color: $dark !important;
      -webkit-text-fill-color: $dark !important;
    }
  details:nth-of-type(odd) {
      color: $color2 !important;
      -webkit-text-fill-color: $color2;
    }
    details:nth-of-type(even) {
      color: $color1 !important;
      -webkit-text-fill-color: $color1;
    }
  .intro{
    padding: 3%;
      background: white;
      color: black;
  .logo {
    font-family: "titrage";
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-weight: 900;
    font-size: 2.2rem;
    line-height: normal;
    color: $dark;
    text-shadow: 0 1px 0 $dark;
  }

      .introduction {
    padding-right: 4vw;
        background: transparent;
        color: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: black;
      }
    }
  }

}
@media only screen and (max-device-width: 1366px) and (min-device-width: 1024px) and (orientation: landscape) and (webkit-min-device-pixel-ratio: 2) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 2.15rem;
    line-height: normal;;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .ipad-portrait { body {
    padding-left: 0;
padding-right: 0;
    overflow: auto;
  font-size: 2.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }
summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }
.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
  padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}  /* your css rules for ipad portrait */

}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .ipad-landscape { body {
    padding-left: 0;
  padding-right: 0;
    overflow: auto;
  font-size: 2.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }
summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }
.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
  padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
} /* your css rules for ipad landscape */
}
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary{
    span{
      text-align: center;
      width: 100%;
      &:after{
        display: none;
      }
    }
  }

.intro{
  padding: 3%;
    display: block;
  }

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color1 !important;
    -webkit-text-fill-color: black;
  }

.intro{
  padding: 3%;
    .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* Portrait */
@media (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{

    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
summary{




  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }

.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
  padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* Landscape */
@media (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    padding-left: 0;
padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }

summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }

.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}
.introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    padding-left: 0;
padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }

summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }
.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
  padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* Portrait */
@media (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    padding-left: 0;
padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }

summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }

.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
  padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* Landscape */
@media (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    padding-left: 0;
padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }

summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }
.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
  padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    padding-left: 0;
padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }
summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }
.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
  padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* Portrait */
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    padding-left: 0;
padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }
summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }

.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
  padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* Landscape */
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    padding-left: 0;
padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }
summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }

.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
  padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    padding-left: 0;
padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }
summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }
.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
  padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* Portrait */
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }
summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }
.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
  padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* Landscape */
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  body {
    padding-left: 0;
padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }
summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;

}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }
.intro{
  padding: 3%;
    background: white;
    color: black;
    .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: $dark;
      text-shadow: 0 1px 0 $dark;
    }
    .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }
summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
summary::after {
  display: none;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }
.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* Portrait */
@media (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{
    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }
summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}

.intro{
  display: block;
}
.intro details .logo-entier .logo, .intro details .logo-entier .sous-titre{
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;

    &:hover{

    }
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }
.intro{
  padding: 3%;
    background: white;
    color: black;
.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
}

    .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
    }
  }
}
/* Landscape */
@media (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  body {
    padding-left: 0;
padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
line-height: normal;;
  }
  details{

    p {
      padding: 2vh 5vw 0 4vw;
    }
  }
  summary {
    padding:0px;
  }
summary{
  padding-bottom:2%;

  span{
    text-align: center;
    width: 100%;
    &:after{
      display: none;
    }
  }
}


.intro{
  display: block;
}
summary::after {
  display: none;
}

details:nth-of-type(6) {
  margin-top:0%;
}
details:nth-of-type(6) {
  margin-top:0%;
}
.intro .logo-entier .logo{
  font-size: 2.3rem;
line-height: 2.4rem;
    color: $dark !important;
    -webkit-text-fill-color: $dark !important;
  }
details:nth-of-type(odd) {
    color: $color2 !important;
    -webkit-text-fill-color: $color2;
  }
  details:nth-of-type(even) {
    color: $color1 !important;
    -webkit-text-fill-color: $color1;
  }
.intro{
  padding: 3%;
    background: white;
    color: black;

.logo {
  font-family: "titrage";
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: normal;
  color: $dark;
  text-shadow: 0 1px 0 $dark;
  -webkit-text-fill-color: $dark !important;
}
.introduction {
  padding-right: 4vw;
  background: transparent;
  color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
    }
  }
}
// @media screen and (-webkit-min-device-pixel-ratio:0) {
//   property: value;
//
//   body {
//     background: red;
//   }
// }
// @media  and (max-width: 1200px) {
// 	body {
// 		margin: 0;
// }
// }
