@charset "UTF-8";
@import url(reset.css);
@font-face {
  font-family: "titrage";
  src: url("../fonts/Noloice.otf"); }
@font-face {
  font-family: "labeur";
  src: url("../fonts/HappyMonkey-Regular.ttf"); }
body {
  padding: 0;
  margin: 0;
  font-family: "labeur";
  overflow-x: hidden;
  background: whitesmoke;
  font-size: 1.55rem;
  line-height: 1.75rem;
  font-weight: 500;
  width: 100%;
  height: 100%; }

.content {
  width: 100%;
  height: 100%; }

.intro {
  font-family: "labeur";
  padding: 2vw;
  margin-bottom: 4vh; }
  .intro .logo {
    font-family: "titrage";
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: normal;
    color: black; }
  .intro .sous-titre {
    font-family: "labeur";
    line-height: normal;
    color: black;
    text-shadow: 1px 1px 2px white; }
  .intro .introduction {
    padding-right: 5vw;
    padding-top: 3vh;
    background: linear-gradient(black, #56069a, #e94613);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

summary {
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  cursor: ns-resize;
  align-content: center; }
  summary:after {
    content: '∴⁖∴';
    color: transparent; }
  summary span {
    width: AUTO;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    -ms-box-pack: center;
    -ms-box-align: center; }
  summary .infos {
    font-family: "titrage";
    letter-spacing: 0.1rem;
    font-weight: 900;
    font-size: 2.2rem; }
  summary:-webkit-details-marker {
    display: none; }

details > summary {
  list-style: none;
  display: flex;
  align-items: center; }

details > summary::-webkit-details-marker {
  display: none; }

details {
  background: whitesmoke;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "labeur"; }
  details .infosbox {
    padding-bottom: 5vh; }
  details p {
    padding: 2vh 10vw 0 4vw; }
    details p em {
      font-style: italic; }
    details p u {
      font-family: "titrage";
      font-weight: 900;
      text-decoration: none;
      font-size: 1.6rem; }
    details p a {
      text-decoration: none;
      margin: 0;
      padding: 0;
      font-size: 1.2rem; }
      details p a:hover {
        text-shadow: 1px 1px 4px white; }
      details p a:after {
        content: " ⁖⁖∴"; }
      details p a:before {
        content: "⁖∴⁖En savoir "; }
  details[open] > summary:after {
    content: '✕';
    color: whitesmoke; }

details:nth-of-type(6) {
  margin-top: 0%; }
  details:nth-of-type(6)[open] > summary {
    z-index: 10;
    background: transparent !important;
    -webkit-text-fill-color: whitesmoke !important;
    text-shadow: 1px 1px 1px black; }
    details:nth-of-type(6)[open] > summary:after {
      content: ''; }
  details:nth-of-type(6) summary {
    -webkit-text-fill-color: #56069a;
    box-shadow: 0 -15px 40px 0 #56069a;
    justify-content: center; }
    details:nth-of-type(6) summary:-webkit-details-marker {
      display: none; }
    details:nth-of-type(6) summary a {
      text-decoration: none;
      width: 100vw;
      left: 0vw;
      position: fixed;
      bottom: 0;
      font-size: 2rem;
      text-align: center;
      background: linear-gradient(#e94613, white, white);
      box-shadow: 0 -15px 40px 0 #56069a; }
    details:nth-of-type(6) summary:after {
      content: ''; }
    details:nth-of-type(6) summary:hover {
      z-index: 10;
      background: transparent !important;
      -webkit-text-fill-color: whitesmoke !important;
      text-shadow: 1px 1px 1px black; }

details:nth-of-type(even) {
  background: linear-gradient(#56069a, black);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  details:nth-of-type(even)[open] > summary {
    z-index: 10;
    background: #56069a;
    -webkit-text-fill-color: whitesmoke !important;
    text-shadow: 1px 1px 1px black; }
  details:nth-of-type(even) summary {
    -webkit-text-fill-color: #56069a !important;
    -webkit-text-fill-color: black;
    box-shadow: 0 -15px 40px 0 #56069a; }
    details:nth-of-type(even) summary:hover {
      z-index: 10;
      background: #56069a;
      -webkit-text-fill-color: whitesmoke !important;
      text-shadow: 1px 1px 1px black; }

details:nth-of-type(odd) {
  background: linear-gradient(#e94613, black);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  details:nth-of-type(odd)[open] > summary {
    z-index: 10;
    background: #e94613;
    -webkit-text-fill-color: whitesmoke !important;
    text-shadow: 1px 1px 1px black; }
  details:nth-of-type(odd) summary {
    -webkit-text-fill-color: #e94613 !important;
    box-shadow: 0 -5px 40px 0 #e94613; }
    details:nth-of-type(odd) summary:hover {
      z-index: 10;
      background: #e94613;
      -webkit-text-fill-color: whitesmoke !important;
      text-shadow: 1px 1px 1px black; }

@media print {
  @page {
    margin: 0;
    padding: 0;
    size: 285.75mm 285.75mm; }
  details {
    page-break-after: always; }
    details p {
      display: none; }
    details summary .infos {
      font-size: 4rem !important; }
    details summary span {
      font-style: 3.5rem !important;
      width: 100%;
      text-align: center; }

  body,
  main {
    padding: 0mm;
    margin: 0;
    font-size: 2.6rem;
    line-height: 3rem; }
    body summary::after,
    main summary::after {
      display: none; }
    body details:nth-of-type(6),
    main details:nth-of-type(6) {
      margin-top: 0%;
      display: block; }
    body .intro .logo-entier .logo,
    main .intro .logo-entier .logo {
      font-size: 2.3rem;
      line-height: 2.4rem;
      color: black !important;
      -webkit-text-fill-color: black !important; }
    body details:nth-of-type(odd),
    main details:nth-of-type(odd) {
      color: #56069a; }
    body .intro,
    main .intro {
      padding: 3%;
      page-break-after: always;
      padding-bottom: 2cm; }
      body .intro .logo,
      main .intro .logo {
        font-size: 5.2rem;
        line-height: normal; }
      body .intro .sous-titre,
      main .intro .sous-titre {
        line-height: 2.5rem; }
    body section,
    main section {
      width: 100%;
      page-break-after: always; } }
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    details > summary {
      display: block; }

    body {
      padding-left: 0;
      padding-right: 0;
      overflow: auto;
      font-size: 1.15rem;
      line-height: normal; }

    details p {
      padding: 2vh 5vw 0 4vw; }

    summary {
      padding: 0px; }

    summary {
      padding-bottom: 2%; }
      summary span {
        text-align: center;
        width: 100%; }
        summary span:after {
          display: none; }

    .intro {
      display: block; }

    summary::after {
      display: none; }

    details:nth-of-type(6) {
      margin-top: 0%; }

    .intro .logo-entier .logo {
      font-size: 2.3rem;
      line-height: 2.4rem;
      color: black !important;
      -webkit-text-fill-color: black !important; }

    details:nth-of-type(odd) {
      color: #e94613 !important;
      -webkit-text-fill-color: #e94613; }

    details:nth-of-type(even) {
      color: #56069a !important;
      -webkit-text-fill-color: #56069a; }

    .intro {
      padding: 3%;
      background: white;
      color: black; }
      .intro .logo {
        font-family: "titrage";
        letter-spacing: 0.1rem;
        text-decoration: none;
        font-weight: 900;
        font-size: 2.2rem;
        line-height: normal;
        color: black;
        text-shadow: 0 1px 0 black; }
      .intro .introduction {
        padding-right: 4vw;
        background: transparent;
        color: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: black; } } }
@media only screen and (max-device-width: 1366px) and (min-device-width: 1024px) and (orientation: landscape) and (webkit-min-device-pixel-ratio: 2) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 2.15rem;
    line-height: normal; } }
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .ipad-portrait body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 2.15rem;
    line-height: normal; }
  .ipad-portrait details p {
    padding: 2vh 5vw 0 4vw; }
  .ipad-portrait summary {
    padding: 0px; }
  .ipad-portrait summary {
    padding-bottom: 2%; }
    .ipad-portrait summary span {
      text-align: center;
      width: 100%; }
      .ipad-portrait summary span:after {
        display: none; }
  .ipad-portrait .intro {
    display: block; }
  .ipad-portrait summary::after {
    display: none; }
  .ipad-portrait details:nth-of-type(6) {
    margin-top: 0%; }
  .ipad-portrait .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }
  .ipad-portrait details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }
  .ipad-portrait details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }
  .ipad-portrait .intro {
    padding: 3%;
    background: white;
    color: black; }
    .ipad-portrait .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .ipad-portrait .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; }

  /* your css rules for ipad portrait */ }
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .ipad-landscape body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 2.15rem;
    line-height: normal; }
  .ipad-landscape details p {
    padding: 2vh 5vw 0 4vw; }
  .ipad-landscape summary {
    padding: 0px; }
  .ipad-landscape summary {
    padding-bottom: 2%; }
    .ipad-landscape summary span {
      text-align: center;
      width: 100%; }
      .ipad-landscape summary span:after {
        display: none; }
  .ipad-landscape .intro {
    display: block; }
  .ipad-landscape summary::after {
    display: none; }
  .ipad-landscape details:nth-of-type(6) {
    margin-top: 0%; }
  .ipad-landscape .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }
  .ipad-landscape details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }
  .ipad-landscape details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }
  .ipad-landscape .intro {
    padding: 3%;
    background: white;
    color: black; }
    .ipad-landscape .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .ipad-landscape .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; }

  /* your css rules for ipad landscape */ }
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary span {
    text-align: center;
    width: 100%; }
    summary span:after {
      display: none; }

  .intro {
    padding: 3%;
    display: block; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #56069a !important;
    -webkit-text-fill-color: black; }

  .intro {
    padding: 3%; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* Portrait */
@media (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary span {
    text-align: center;
    width: 100%; }
    summary span:after {
      display: none; }

  .intro {
    display: block; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* Landscape */
@media (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* Portrait */
@media (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* Landscape */
@media (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* Portrait */
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* Landscape */
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* Portrait */
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* Landscape */
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* Portrait */
@media (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  .intro details .logo-entier .logo, .intro details .logo-entier .sous-titre {
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }
/* Landscape */
@media (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  body {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    font-size: 1.15rem;
    line-height: normal; }

  details p {
    padding: 2vh 5vw 0 4vw; }

  summary {
    padding: 0px; }

  summary {
    padding-bottom: 2%; }
    summary span {
      text-align: center;
      width: 100%; }
      summary span:after {
        display: none; }

  .intro {
    display: block; }

  summary::after {
    display: none; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  details:nth-of-type(6) {
    margin-top: 0%; }

  .intro .logo-entier .logo {
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: black !important;
    -webkit-text-fill-color: black !important; }

  details:nth-of-type(odd) {
    color: #e94613 !important;
    -webkit-text-fill-color: #e94613; }

  details:nth-of-type(even) {
    color: #56069a !important;
    -webkit-text-fill-color: #56069a; }

  .intro {
    padding: 3%;
    background: white;
    color: black; }
    .intro .logo {
      font-family: "titrage";
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: normal;
      color: black;
      text-shadow: 0 1px 0 black;
      -webkit-text-fill-color: black !important; }
    .intro .introduction {
      padding-right: 4vw;
      background: transparent;
      color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: black; } }

/*# sourceMappingURL=main.css.map */
